[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
tensorflow = "*"
numpy = "*"
pyautogui = "*"
wikipedia = "*"
rich = "*"
python-vlc = "*"
sxhkd-parser = "*"
pyperclip = "*"
xneuralintents = "*"
beautifulsoup4 = "*"
python-dotenv = "*"
pyowm = "*"
pywinctl = "*"
sentence-transformers = "*"
spacy = "*"
poe-api = "*"
yt-dlp = "*"
pafy = {git = "https://github.com/AbdelrhmanNile/pafy.git"}

[dev-packages]
nuitka = "*"

[requires]
python_version = "3.10"
