[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
tensorflow = "*"
numpy = "*"
freenlpc = ">=0.2.0"
pyautogui = "*"
wikipedia = "*"
rich = "*"
python-vlc = "*"
sxhkd-parser = "*"
pyperclip = "*"
xneuralintents = "*"
beautifulsoup4 = "*"
python-dotenv = "*"
pyowm = "*"
youtube-dl = "*"
pafy = {git = "https://github.com/Cupcakus/pafy.git"}
pywinctl = "*"

[dev-packages]
nuitka = "*"

[requires]
python_version = "3.10"
